{% extends "base.html" %}
{% block title %}
REGISTRO
{% endblock title %}
{% load static %}
{% block content %}
    <section class="content">
		<div class="container-fluid">
			<div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">
          {% if guardar_editar %}
            REGISTRAR
          {% else %}
            MODIFICAR
          {% endif %} COLABORADOR</h3>
        </div>
        {% if guardar_editar %}
          <form role="form" method="post" action="{% url 'app_cc:registrar_colaborador' %}" >
        {% else %}
          <form role="form" method="post" action="{% url 'app_cc:modificar_colaborador' id_colaborador %}" >    
        
        {% endif %}
       
          {% csrf_token %}
          {% if errores.administrador %}
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h5><i class="icon fas fa-ban"></i> ERROR!{{errores.administrador}}</h5>
            </div>
          {% endif %}
          <div class="card-body">
          <div class="row">
          	<div class="col-sm-4">
        		  <div class="form-group">
                <label for="exampleInputEmail1">Identificación</label>
                <input type="text" class="form-control" id="id_identificacion"
                name="identificacion" placeholder="Identificación" value="{{ret_data.identificacion}}">
            	</div>
                
              {% if errores.identificacion %}
                <div class="alert alert-danger alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <h5><i class="icon fas fa-ban"></i> ERROR!{{errores.identificacion}}</h5>
                </div>
              {% endif %}
          	</div>

          	<div class="col-sm-4">
      		 	  <div class="form-group">
                  <label for="exampleInputEmail1">Nombres</label>
                  <input type="text" class="form-control" id="id_nombres" name="nombres" placeholder="Nombres" value="{{ret_data.otra_cosa}}">
              	</div>

                {% if errores.nombres %}
                  <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-ban"></i> ERROR!{{errores.nombres}}</h5>
                  </div>
                {% endif %}
          	</div>

          	<div class="col-sm-4">
          		<div class="form-group">
                  <label for="exampleInputEmail1">Apellidos</label>
                  <input type="text" class="form-control" id="id_apellidos" name="apellidos" placeholder="Apellidos" value="{{ret_data.apellidos}}">
            		</div>
          	</div>

          </div>
            
          <div class="row">
          	<div class="col-sm-4">
          		<div class="form-group">
                  <label for="exampleInputEmail1">Teléfono</label>
                  <input type="text" class="form-control" id="id_telefono" name="telefono" placeholder="Teléfono" value="{{ret_data.telefono}}">
            		</div>
          	</div>

            <div class="col-sm-4">
              <div class="form-group">
                  <label>Fecha de nacimiento</label>
                  <div class="input-group" >
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control float-right" id="id_fecha_nacimiento" name="fecha_nacimiento" value="{{ret_data.fecha_nacimiento|date:'YYYY-MM-DD'}}" >
                </div>
             </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Genero</label>
                <select class="form-control selectpicker" style="width: 100%;" id="id_genero" data-live-search="true" name="genero">
                    <option value='0' selected="selected" >--SELECCIONE--</option>
                   {% for genero in generos  %}
                      {% ifequal genero.pk  ret_data.pk_genero   %} 
                        <option value='{{genero.pk}}' selected>{{genero.descripcion_genero}}</option>
                      {% else %}
                          <option value='{{genero.pk}}'>{{genero.descripcion_genero}}</option>
                      {% endifequal %}
                     
                   {% endfor %}
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">GUARDAR</button>
          </div>
        </form>
      </div>
		</div>
	</section>
{% endblock content %}	
{% block js %}
	    <script type="text/javascript">
	    	$('#id_fecha_nacimiento').daterangepicker({
          
			    singleDatePicker: true,
			    showDropdowns: true,
			    minYear: 1901,
			    maxYear: parseInt(moment().format('YYYY'),10),
          locale: {
            format: 'YYYY-MM-DD',
           
          }
			  });

	    	 $('#id_genero').selectpicker({
              noneResultsText: 'No hay datos'
          });
	    </script>
{% endblock js %}	
